* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  background-color: bisque;
  font-size: 32px;
}

header {
  display: flex;
  gap: 1.5625rem;
}

nav {
    flex-grow: 3;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border: 5px dashed rgba(0, 0, 0, 0.512) ;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul{
  display: flex;
  width: 100%;
  margin-top: 3.125rem;
  list-style: none;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  
}


#logo img {
    flex-grow: 1;
  max-width: 6.2rem;
  max-height: 6.2rem;
}

main {
    display: flex;
    gap: 25px;
}

.left {
    min-width: 30%;
    border: 3px dashed black;
    justify-content: center;
    text-align: center;
}

#texto {
    margin-top: 50px;
}

.right {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    border: 3px dashed black;
}

img {
    max-width: 25rem;
    max-height: fit-content;
}

footer {
    display: flex;
    font-size: 2rem;
    gap: 2rem;
    justify-content: center;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    background-color: bisque;
}

header {
    display: flex;
    gap: .625rem;
}

.logo {
    flex-grow: 1;

}

.logo img {
    width: 200px;

}

nav {
    flex-grow: 3;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border: 5px solid black ;
}



nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1.5625rem;
    margin-top: 5rem;
}



img {
    width: 200px;
} */





